@import "./reset.scss";
@import "./vars.scss";
@import "./sections/heroSection.scss";
@import "./sections/secondBlock.scss";
@import "./sections/thirdBlock.scss";
@import "./sections/fourthBlock.scss";
@import "./sections/fifthBlock.scss";

.container {
    width: 1125px;
    margin: 0 auto;

    @media screen and (max-width: 1205px) {
        width: 850px;
    }

    @media screen and (max-width: 900px) {
        width: 540px;
    }
}

h1 {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    margin-top: 130px;

    @media screen and (max-width: 900px) {
        font-size: 35px;
        margin-top: 160px;
    }
}

h2 {
    font-weight: 800;
    line-height: 110%;
    font-size: 48px;
    font-family: var(--accent-font);

    @media screen and (max-width: 900px) {
        font-size: 30px;
    }
}

@font-face {
    font-family: "RF Dewi Expanded";
    src: url("./assets/fonts/RFDewiExpanded-Ultrabold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "RF Dewi Expanded";
    src: url("./assets/fonts/RFDewiExpanded-Regular.ttf");
    font-weight: 400;
}

.button {
    background-color: var(--accent-color);
    color: #353535;
    padding: 22px 36px;
    border-radius: 10px;
    font-family: var(--accent-font);
    font-size: 16px;
    font-weight: 800;
    transition-duration: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}
